@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@media screen and (max-width: 2770px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 2560px;
         margin: 15px auto;
         font-size: 170px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 2560px;
         margin: 180px auto;
         display: block;
     }

     p {
         width: 2560px;
         margin: 20px auto;
         font-size: 80px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 950px;
         font-size: 100px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 2560px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}   

@media screen and (max-width: 2570px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 2200px;
         margin: 15px auto;
         font-size: 150px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 2200px;
         margin: 180px auto;
         display: block;
     }

     p {
         width: 2200px;
         margin: 22px auto;
         font-size: 70px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 950px;
         font-size: 100px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 2200px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}  


@media screen and (max-width: 2210px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 2000px;
         margin: 12px auto;
         font-size: 130px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 2000px;
         margin: 180px auto;
         display: block;
     }

     p {
         width: 2000px;
         margin: 20px auto;
         font-size: 60px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 220px;
         width: 920px;
         font-size: 80px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 2000px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}  

@media screen and (max-width: 2010px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 1800px;
         margin: 12px auto;
         font-size: 110px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 1800px;
         margin: 180px auto;
         display: block;
     }

     p {
         width: 1800px;
         margin: 20px auto;
         font-size: 55px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 210px;
         width: 910px;
         font-size: 70px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 1800px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}  


@media screen and (max-width: 1810px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 1600px;
         margin: 10px auto;
         font-size: 100px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 1600px;
         margin: 150px auto;
         display: block;
     }

     p {
         width: 1600px;
         margin: 16px auto;
         font-size: 48px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 210px;
         width: 910px;
         font-size: 70px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 1600px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}  

@media screen and (max-width: 1610px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 1440px;
         margin: 10px auto;
         font-size: 90px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 1440px;
         margin: 140px auto;
         display: block;
     }

     p {
         width: 1440px;
         margin: 16px auto;
         font-size: 40px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 200px;
         width: 900px;
         font-size: 60px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 250px;
         width: 1440px;
         font-size: 40px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 

@media screen and (max-width: 1450px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 1200px;
         margin: 10px auto;
         font-size: 80px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 1200px;
         margin: 50px auto;
         display: block;
         /* margin: 0 auto; */
     }

     p {
         width: 1200px;
         margin: 16px auto;
         font-size: 37px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 180px;
         width: 880px;
         font-size: 60px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 200px;
         width: 1200px;
         font-size: 30px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 

@media screen and (max-width: 1210px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 1024px;
         margin: 10px auto;
         font-size: 55px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 1024px;
         margin: 100px auto;
         display: block;
     }

     p {
         width: 1024px;
         margin: 16px auto;
         font-size: 27px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 140px;
         width: 640px;
         font-size: 55px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 200px;
         width: 1024px;
         font-size: 30px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 

@media screen and (max-width: 1034px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 768px;
         margin: 8px auto;
         font-size: 50px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 768px;
         margin: 100px auto;
         display: block;
     }

     p {
         width: 768px;
         margin: 16px auto;
         font-size: 27px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 130px;
         width: 540px;
         font-size: 50px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 180px;
         width: 768px;
         font-size: 30px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

}

@media screen and (max-width: 780px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 500px;
         margin: 6px auto;
         font-size: 45px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 500px;
         margin: 80px auto;
         display: block;
     }

     p {
         width: 500px;
         margin: 16px auto;
         font-size: 24px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 120px;
         width: 530px;
         font-size: 45px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 180px;
         width: 500px;
         font-size: 25px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 


@media screen and (max-width: 510px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 425px;
         margin: 6px auto;
         font-size: 45px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 425px;
         margin: 80px auto;
         display: block;
     }

     p {
         width: 425px;
         margin: 16px auto;
         font-size: 24px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 100px;
         width: 330px;
         font-size: 25px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 150px;
         width: 425px;
         font-size: 20px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 

@media screen and (max-width: 435px) {
     body {
         font-family: "Montserrat", sans-serif;
         font-weight: 200;
         color: hsl(210, 100%, 100%);
         background: hsl(230, 6%, 20%);
     }

     #main {
         width: 100%;
         padding: 20px;
         text-align: center;
     }

     h1 {
         width: 320px;
         margin: 6px auto;
         font-size: 25px;
     }

     img {
         /* position: relative;
         left: 1%; */
         width: 320px;
         margin: 20px auto;
         display: block;
     }

     p {
         width: 320px;
         margin: 6px auto;
         font-size: 20px;
     }

     button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 50px;
         width: 130px;
         font-size: 20px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

     .button {
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         border: 0;
         border-radius: 5px;
         margin-top: 50px;
         height: 100px;
         width: 320px;
         font-size: 18px;
         font-weight: 500;
         cursor: pointer;
         transition: all 500ms ease;
         color: hsl(230, 93%, 48%);
         background: hsl(240, 10%, 96%);
     }

     .button:hover {
        color: hsla(230, 93%, 48%, 0.764);
        background: hsla(240, 10%, 96%, 0.852);
     }

} 

